<a href="https://colab.research.google.com/github/MCPMAlf/An-lisis-de-Datos/blob/main/Proyecto4_Ejercicio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
#Importa paquetes necesarios
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import RMSprop, SGD, Adam
from tensorflow.keras.losses import CategoricalCrossentropy, MSE,MAE

In [73]:
#Lectura de datos
Datos = pd.read_csv('/content/creditcard.csv')

#Vizualizacion de los datos
Datos.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [74]:
Prueba = Datos.copy()

Max_col = Datos.max()
Min_col = Datos.min()

In [75]:
#Estandariza datos para que tengan valores entre -1 y 1
for i in range(1,len(Prueba.columns)-1):
  if(np.abs(Max_col[i]) > np.abs(Min_col[i]) ):
    Prueba.iloc[:, i] = Prueba.iloc[:, i] / np.abs(Max_col[i])
  else:
    Prueba.iloc[:, i] = Prueba.iloc[:, i] / np.abs(Min_col[i])

In [76]:
#Visualización de datos estandarizados y no estandarizados.
Max_col_prueba = Prueba.max()
Min_col_prueba = Prueba.min()

print(Max_col_prueba)
print(Min_col_prueba)
print(Max_col)
print(Min_col)

Time      172792.000000
V1             0.043521
V2             0.303342
V3             0.194153
V4             1.000000
V5             0.305967
V6             1.000000
V7             1.000000
V8             0.273260
V9             1.000000
V10            0.965710
V11            1.000000
V12            0.420066
V13            1.000000
V14            0.547860
V15            1.000000
V16            1.000000
V17            0.367746
V18            0.530709
V19            0.775206
V20            0.723350
V21            0.781009
V22            0.960665
V23            0.502780
V24            1.000000
V25            0.730384
V26            1.000000
V27            1.000000
V28            1.000000
Amount         1.000000
Class          1.000000
dtype: float64
Time      0.000000
V1       -1.000000
V2       -1.000000
V3       -1.000000
V4       -0.336774
V5       -1.000000
V6       -0.356888
V7       -0.361203
V8       -1.000000
V9       -0.861434
V10      -1.000000
V11      -0.399160
V12      -1.000000
V13      -0.812681
V14      -1.000000
V15      -0.506767
V16      -0.816042
V17      -1.000000
V18      -1.000000
V19      -1.000000
V20      -1.000000
V21      -1.000000
V22      -1.000000
V23      -1.000000
V24      -0.618736
V25      -1.000000
V26      -0.740488
V27      -0.713828
V28      -0.455867
Amount    0.000000
Class     0.000000
dtype: float64
Time      172792.000000
V1             2.454930
V2            22.057729
V3             9.382558
V4            16.875344
V5            34.801666
V6            73.301626
V7           120.589494
V8            20.007208
V9            15.594995
V10           23.745136
V11           12.018913
V12            7.848392
V13            7.126883
V14           10.526766
V15            8.877742
V16           17.315112
V17            9.253526
V18            5.041069
V19            5.591971
V20           39.420904
V21           27.202839
V22           10.503090
V23           22.528412
V24            4.584549
V25            7.519589
V26            3.517346
V27           31.612198
V28           33.847808
Amount     25691.160000
Class          1.000000
dtype: float64
Time        0.000000
V1        -56.407510
V2        -72.715728
V3        -48.325589
V4         -5.683171
V5       -113.743307
V6        -26.160506
V7        -43.557242
V8        -73.216718
V9        -13.434066
V10       -24.588262
V11        -4.797473
V12       -18.683715
V13        -5.791881
V14       -19.214325
V15        -4.498945
V16       -14.129855
V17       -25.162799
V18        -9.498746
V19        -7.213527
V20       -54.497720
V21       -34.830382
V22       -10.933144
V23       -44.807735
V24        -2.836627
V25       -10.295397
V26        -2.604551
V27       -22.565679
V28       -15.430084
Amount      0.000000
Class       0.000000
dtype: float64

In [77]:
Datos_Analisis = Prueba.copy()

In [78]:
Datos_Analisis = Datos_Analisis.drop(['Time'], axis = 1)
Datos_Analisis

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-0.024107,-0.001001,0.052485,0.081667,-0.002974,0.006308,0.001987,0.001348,0.023327,0.003693,...,-0.000526,0.025412,-0.002466,0.014599,0.012485,-0.053766,0.004225,-0.000622,0.005824,0
1,0.021129,0.003660,0.003445,0.026557,0.000528,-0.001124,-0.000653,0.001162,-0.016379,-0.006791,...,-0.006482,-0.058416,0.002261,-0.074129,0.016237,0.035792,-0.000284,0.000435,0.000105,0
2,-0.024081,-0.018430,0.036693,0.022505,-0.004424,0.024563,0.006563,0.003383,-0.097124,0.008445,...,0.007120,0.070582,0.020296,-0.150349,-0.031824,-0.039546,-0.001751,-0.001765,0.014739,0
3,-0.017130,-0.002547,0.037102,-0.051157,-0.000091,0.017015,0.001970,0.005155,-0.088940,-0.002235,...,-0.003109,0.000482,-0.004247,-0.256421,0.062880,-0.063096,0.001984,0.001816,0.004807,0
4,-0.020533,0.012071,0.032048,0.023883,-0.003580,0.001309,0.004917,-0.003695,0.052436,0.030627,...,-0.000271,0.073015,-0.003068,0.030814,-0.020010,0.142804,0.006941,0.006356,0.002724,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,-0.210630,0.138509,-0.203511,-0.122466,-0.047163,-0.035563,-0.040785,0.099777,0.122759,0.177165,...,0.006128,0.010232,0.022641,-0.111101,0.139558,0.071086,0.029851,0.024336,0.000030,0
284803,-0.012991,-0.000757,0.042111,-0.043767,0.007633,0.014439,0.000202,0.004027,0.037499,-0.039691,...,0.006150,0.084549,0.000278,-0.221663,-0.058922,-0.112373,0.002166,-0.001581,0.000965,0
284804,0.034030,-0.004143,-0.067245,-0.033056,0.023127,0.041353,-0.002461,0.009676,0.027730,-0.019716,...,0.006662,0.052888,-0.000837,0.139629,0.025812,-0.024840,0.000141,-0.000785,0.002642,0
284805,-0.004263,0.007295,0.014537,0.040876,-0.003323,0.008509,-0.005690,0.009276,0.025142,-0.016232,...,0.007615,0.073176,-0.003644,0.026874,-0.055283,0.155421,0.003442,0.003088,0.000389,0
284806,-0.009456,-0.002609,0.014554,-0.030001,-0.000110,-0.008862,0.013077,-0.005663,0.031175,-0.037230,...,0.007495,0.058819,0.008409,0.001919,-0.046006,-0.232638,-0.000076,0.000403,0.008446,0

In [79]:
import math 
Longitud_Datos_Train = math.floor(len(Datos_Analisis)*.73)
Longitud_Datos_Test = len(Datos_Analisis) - Longitud_Datos_Train

print(Longitud_Datos_Test, Longitud_Datos_Train)

76898 207909

In [80]:
#Creación de muestra aleatoria para datos de entrenamiento y prueba.
#Entrena la red para reconocer los movimientos considerados no fraudulentos.
Datos_Train = Datos_Analisis[Datos_Analisis.Class == 0].sample(Longitud_Datos_Train)
Datos_Test = Datos_Analisis.drop(Datos_Train.index)

#print(len(Datos_Train))
#print(len(Datos_Test))

In [84]:
Datos_Train = Datos_Train.reset_index().drop(["index"], axis = 1)
Datos_Test = Datos_Test.reset_index().drop(["index"], axis = 1)

In [98]:
Datos_Train

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-0.009134,0.012086,0.033585,-0.008259,-0.000119,-0.003351,0.003799,0.003601,-0.033340,-0.006407,...,-0.004215,-0.037765,0.000720,0.038683,-0.034803,0.021098,0.008593,0.003171,0.000100,0
1,-0.006986,0.007228,0.044661,0.068850,0.000501,0.000212,0.001985,0.000222,-0.007444,0.002101,...,0.005883,0.066690,-0.003103,0.009899,-0.034955,-0.059074,0.000467,-0.002241,0.000541,0
2,-0.025752,0.009378,0.036283,0.042958,0.006166,-0.002361,0.004678,-0.002020,-0.031385,0.000146,...,-0.008862,-0.030581,0.005594,-0.100559,0.037791,-0.138981,-0.014497,-0.015574,0.000195,0
3,-0.018326,0.007626,0.023703,0.019778,-0.001517,-0.007220,0.010838,-0.002919,0.009015,-0.023770,...,-0.001543,0.007285,0.002240,0.081466,0.001072,-0.167114,-0.000969,0.003541,0.004620,0
4,0.019120,-0.008003,0.026851,0.085671,-0.007497,0.020198,-0.009799,0.008053,0.106825,-0.008241,...,-0.002541,0.010969,-0.005895,-0.176152,0.062356,-0.048268,0.002928,0.000571,0.001364,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207904,0.026949,-0.011201,-0.035052,0.045090,-0.000520,-0.014941,0.006945,-0.007293,0.012335,-0.001493,...,0.000730,-0.034394,-0.001730,-0.010404,-0.008730,0.044402,-0.003765,-0.000400,0.011440,0
207905,-0.028717,-0.016814,0.066051,0.019270,0.002804,0.016028,-0.011701,0.011265,0.159135,-0.058243,...,0.006907,0.094139,0.003061,-0.054346,-0.029093,0.159004,0.003149,0.004189,0.002452,0
207906,-0.009096,0.016424,-0.032756,0.006828,-0.001714,-0.018954,0.004611,0.005542,-0.023734,-0.055119,...,0.010784,0.089292,0.002335,-0.002713,-0.019763,-0.045569,-0.007810,-0.006394,0.003059,0
207907,0.039390,-0.020137,-0.025805,-0.104281,-0.007344,-0.001052,-0.008815,-0.001117,-0.099793,0.069589,...,-0.003512,0.003555,0.003492,0.060569,-0.011427,-0.054781,-0.000152,-0.001505,0.002147,0
207908,0.007142,0.004514,-0.015398,-0.118029,0.007047,-0.016431,0.007657,-0.002862,0.036068,-0.033229,...,-0.002059,-0.021924,0.010469,0.121660,-0.215236,0.020226,0.007917,0.010176,0.000156,0

In [99]:
y_Datos_train = Datos_Train["Class"].to_numpy()
y_Datos_test = Datos_Test["Class"].to_numpy()

In [100]:
type(y_Datos_test)

numpy.ndarray

In [102]:
y_Datos_test[190]

1

In [103]:
#Elimina la columna "Class"
Datos_Train.drop(["Class"], axis = 1, inplace = True)
Datos_Test.drop(["Class"], axis = 1, inplace = True)

print(Datos_Train.columns)
print(Datos_Test.columns)

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
      dtype='object')
Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
      dtype='object')

In [104]:
#Convierte el DataFrame en un np.ndarray
x_Valores_Train = Datos_Train.values
x_Valores_Test = Datos_Test.values

In [105]:
x_Valores_Train.shape

(207909, 29)

In [106]:
#Creación de categorías para los datos de salida
num_classes = 2
y_Datos_Train_Cat = keras.utils.to_categorical(y_Datos_train, num_classes)
y_Datos_Test_Cat = keras.utils.to_categorical(y_Datos_test, num_classes)

print(y_Datos_Test_Cat[190])
print(y_Datos_Test_Cat.shape)

[0. 1.]
(76898, 2)

In [107]:
#Parámetros
Learning_Rate = 0.009
epochs = 10
batch_size = 150

In [108]:
#Modelo de red neuronal
model = Sequential()
model.add(Dense(150, activation='tanh', input_shape = (29,)))
model.add(Dropout(0.2))
model.add(Dense(100, activation='tanh'))
model.add(Dense(50, activation='tanh'))
model.add(Dense(num_classes, activation='softmax'))

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 150)               4500

 dropout (Dropout)           (None, 150)               0

 dense_1 (Dense)             (None, 100)               15100

 dense_2 (Dense)             (None, 50)                5050

 dense_3 (Dense)             (None, 2)                 102

=================================================================
Total params: 24,752
Trainable params: 24,752
Non-trainable params: 0
_________________________________________________________________

In [109]:
model.compile(loss=CategoricalCrossentropy(from_logits=False), optimizer = Adam (learning_rate=Learning_Rate),metrics=['accuracy'])
#model.compile(loss=MAE, optimizer = Adam (learning_rate=Learning_Rate*1), metrics=['RootMeanSquaredError'])
##model.compile(loss='categorical_crossentropy', optimizer = Adam (learning_rate=Learning_Rate*10),metrics=['accuracy'])

In [110]:
history = model.fit(x_Valores_Train, y_Datos_Train_Cat,
                    batch_size = batch_size,
                    epochs = epochs,
                    verbose = 1,
                    validation_data=(x_Valores_Test, y_Datos_Test_Cat)
                    )

Epoch 1/10
1387/1387 [==============================] - 10s 6ms/step - loss: 0.0010 - accuracy: 0.9996 - val_loss: 0.1118 - val_accuracy: 0.9936
Epoch 2/10
1387/1387 [==============================] - 10s 7ms/step - loss: 1.1467e-12 - accuracy: 1.0000 - val_loss: 0.1120 - val_accuracy: 0.9936
Epoch 3/10
1387/1387 [==============================] - 9s 6ms/step - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.1129 - val_accuracy: 0.9936
Epoch 4/10
1387/1387 [==============================] - 8s 6ms/step - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.1144 - val_accuracy: 0.9936
Epoch 5/10
1387/1387 [==============================] - 8s 6ms/step - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.1168 - val_accuracy: 0.9936
Epoch 6/10
1387/1387 [==============================] - 8s 5ms/step - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.1199 - val_accuracy: 0.9936
Epoch 7/10
1387/1387 [==============================] - 8s 6ms/step - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.1235 - val_accuracy: 0.9936
Epoch 8/10
1387/1387 [==============================] - 7s 5ms/step - loss: 5.7337e-13 - accuracy: 1.0000 - val_loss: 0.1274 - val_accuracy: 0.9936
Epoch 9/10
1387/1387 [==============================] - 8s 6ms/step - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.1314 - val_accuracy: 0.9936
Epoch 10/10
1387/1387 [==============================] - 8s 6ms/step - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.1353 - val_accuracy: 0.9936

In [111]:
score = model.evaluate(x_Valores_Test, y_Datos_Test_Cat, verbose=1)
print(score)

2404/2404 [==============================] - 4s 2ms/step - loss: 0.1353 - accuracy: 0.9936
[0.13533246517181396, 0.99360191822052]

In [112]:
a=model.predict(x_Valores_Test)
print(a.shape)
print(a[190])
print("resultado correcto:")
print(y_Datos_Test_Cat[190])

2404/2404 [==============================] - 4s 2ms/step
(76898, 2)
[9.9999994e-01 6.5102473e-10]
resultado correcto:
[0. 1.]